

    <%= link_to "Find Golfer", users_path%>
    <%= link_to "Search By Course", courses_path%>
    <%= link_to "Search By State", locations_path%>
<h1> User list </h1>

<ul>
    <% @users.each do |user|%>
        <li><%= link_to user.name, user_path(user)%></li>
    <%end%>
</ul>