// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

p{
    text-indent: 5%;
    width: 50%;
    margin-right: 2%;
    margin-left: 2%;
    word-wrap: break-word;  
}


html {
    font-size: 70%; }
  
  body {
    box-sizing: border-box; }
  
  body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: rgb(70, 125, 245);
    padding: 3rem; 
    background-color: rgb(238, 236, 236);}

    a { 
      background-color: lightgrey;
      
      box-sizing: content-box;
      outline-style: ridge;
      margin: 5px;
    }

    * { 
      margin:0;
      padding:0;
      box-sizing: border-box;
  
  }
  
  body {
       font-family:"Lato" , sans-serif ;
       font-weight: 400 ;
       font-size: 16px ;
       line-height: 1.7 ;
       color: #777;
       padding: 30px 
  }
  
  .header {
      height: 95vh ; 
      background-image: linear-gradient(
          to right bottom ,
           rgba(126,213,111,0.8),
           rgba(40,180,131,0.8) ),
           url(../img/golf2.jpeg);
      background-size: cover ;
      background-position: top;
  
      /* clip-path: polygon(0 0 , 100% 0 , 100% 200px , 0 100%); */
  }