// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
div.field_with_errors{
  display: inline;
  color: red;
}
p{
    text-indent: 5%;
    width: 50%;
    margin-right: 2%;
    margin-left: 2%;
    word-wrap: break-word;  
    
}


html {
    font-size: 85%; 
    
  }
  
  body {
    padding: 0px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: rgb(70, 125, 245);
    background-color: rgb(238, 236, 236);
  }

      div.change{
      background-color: pink;
      
      outline-style: ridge;
      outline-width: thick;
      margin: 5px;
      display:inline-block;
      align-content: center;
    
      border: none;
      padding: .1px .1px;
      display: inline-block;
      font-size: 4 px;
      margin: 6px 10px;
      cursor: pointer;
     
    }
    .header{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a {
      color: #5c8a36;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
      color: #142c01;
    }
    
    .home_links:hover,
    .home_links:focus {
      color: #5c8a36;
    }

    .logout{
      background-color: pink;
      box-sizing: content-box;
      outline-style: ridge;
      outline-width: medium;
      margin: 5px;
      display:inline-block;
    
      
    }
    .logout:hover {
      background-color: rgb(255, 123, 244);
      color: rgb(54, 54, 243);
    }

    .change:hover {
      background-color: rgb(255, 123, 244);
      color: rgb(54, 54, 243);
    }
    
    .title {
      font-size: xx-large;
      text-align: center;
      margin: 0px 0px;
    }

    hr{
      background-color: rgb(54, 54, 243);
      height: 3px;
    }

    .reviewform {
      margin: 0% 5%;
    }


      .reviews{
        margin: 0% 15%;

      }

      .head {
        text-align: center;
      }

      .bookmark {
        text-align: right;
        margin: 0px 50px;
      }

      .foot {
        margin: 10px;
      }

