// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

p{
    text-indent: 5%;
    width: 45%;
    margin-right: 2%;
    margin-left: 2%;
    word-wrap: break-word;  
}


html {
    font-size: 62.5%; }
  
  body {
    box-sizing: border-box; }
  
  body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: #777;
    padding: 3rem; }